<footer class="nk-footer">
  <nav class="nk-navbar nk-navbar-bottom nk-navbar-dark">
    {% if page.pageCustomId != 'ctc' %}
      <div class="container">
          <div class="nk-nav-table">
              <a href="http://https://anaiv.github.io" class="nk-nav-center">
                  <img src="{{ "/assets/img/blogo.jpg" | prepend: site.url }}" alt="" width="120">
              </a>
          </div>
      </div>
    {% endif %}
    <div class="container">
      <ul class="nk-nav nk-nav-center d-lg-block socials">
        <li class="behance">
          <a href="https://www.behance.net/QuickLook/" title="Behance" target="_blank" rel="noopener">
            <img width="50" src="{{ "/assets/img/behance.svg" | prepend: site.url }}" alt="Behance">
          </a>
        </li>
        <li class="linkedin">
          <a href="https://www.linkedin.com/in/anahid-a-b1305283" title="LinkedIn" target="_blank" rel="noopener">
            <img width="50" src="{{ "/assets/img/linkedin.svg" | prepend: site.url }}" alt="LinkedIn">
          </a>
        </li>
      </ul>

      <div class="nk-gap-2"></div>

      {% if page.pageCustomId == 'ctc' %}
        <p class="text-center">Or email me at</p>
        <p class="text-center f-s-1-5-rem"><code>[anahid] [dot] [aivazian] [at] [gmail] [dot] [com]</code></p>
      {% endif %}
    </div>
</nav>
</footer>
